* {
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(189, 188, 188);

  /* Border Colors are all transparent colors. These will tint or shade the background color of the square. */
  --border-left-color: rgba(255, 255, 255, 0.115);
  --border-top-color: rgba(255, 255, 255, 0.21);
  --border-right-color: rgba(79, 77, 77, 0.228);
  --border-bottom-color: rgba(0, 0, 0, 0.5);

  /* Square Colors: background colors for the squares.*/
  --color-0: #e1d4cf;
  --color-1: #c9ad98;
  --color-2: #CE796B;
  --color-3: #C18C5D;
  --color-4: #495867;
  --color-5: #3C493F;
  --color-6: #b1ccd9;
  --color-7: #7F636E;

  /* Button Colors */
  --button-color-t: rgba(200, 200, 200, 1);
  --button-color-r: rgba(150, 150, 150, 1);
  --button-color-b: rgba(120, 120, 120, 1);
  --button-color-l: rgba(222, 222, 222, 1);

  /* Numbers define values that will be used throughout the CSS.
  --tile-size: 20px for example will set the size of the grid squares. */
  --cols: 10;
  --rows: 18;
  --tile-size: 20px;
  --border-width: 5px;
}

body {
  font-family: 'Karla Variable', sans-serif;
  font-weight: 300;
}

/* Colors */
.color-0 {
  background-color: var(--color-0);
}

.color-1 {
  background-color: var(--color-1);
}

.color-2 {
  background-color: var(--color-2);
}

.color-3 {
  background-color: var(--color-3);
}

.color-4 {
  background-color: var(--color-4);
}

.color-5 {
  background-color: var(--color-5);
}

.color-6 {
  background-color: var(--color-6);
}

.color-7 {
  background-color: var(--color-7);
}

.grid-board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: flex-start;
  grid-area: c; /* Grid area c center column */
}

/* Grid Square */
.grid-square {
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: var(--border-width);
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
}

/* Next Block */
.next-block {
  grid-area: l; /* Grid area l left column */
  display: grid;
  grid-template-columns: repeat(4, var(--tile-size));
  align-self: flex-start;
}

/* Score Board */
.score-board-button {
  display: block;
  padding: 1em;
  border-width: 5px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}

/* score-board */
.score-board {
  grid-area: r;
}

/* App */
.App {
  --col-side: calc(var(--tile-size) * 4);
  --col-center: calc(var(--tile-size) * 10);
  --grid-height: calc(var(--tile-size) * 18);

  width: calc(var(--tile-size) * (4 + 1 + 10 + 1 + 4));
  margin: auto;
  display: grid;

  grid-gap: var(--tile-size) var(--tile-size);
  /* Defines three columns of `--col-side`, `--col-center`, and `--col-side` widths. */
  grid-template-columns: var(--col-side) var(--col-center) var(--col-side);
  /* Defines three rows of `100px`, `--grid-height`, and 100px. */
  grid-template-rows: 100px var(--grid-height) 100px;

  /* This defines the areas on the grid with names: 'h', 'l', 'c', 'r',
  and 'b'. The '.' represents an empty cell on the grid. */
  grid-template-areas: "h h h"
                       "l c r"
                       ". b .";
}

.App-header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.6vmin);
  color: #645959;
  grid-area: h;
}

/* controls-container*/
.controls-container {
  border: solid red 1px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* controls */
.controls {
  grid-area: b;
  display: flex;
  flex-direction: row;
}

/* Control Button */
.control-button {
  --size: calc(var(--tile-size) * 3);
  width: var(--size);
  height: var(--size);
  text-align: center;
  display: block;
  border-width: 5px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}

.message-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--tile-size) * 10);
  height: calc(var(--tile-size) * 10);
  background-color: rgba(255, 255, 255, 0.718);
  text-align: center;
  font-family: 'Karla Variable', sans-serif;
  font-weight: 300;
}

.message-popup.hidden {
  display: none;
}
